/*------------------------mindenre vonatkozik------------------------*/

/*tartalom*/
main {
    padding: 20px;
}body{
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Minimum magasság: a lap teljes magassága */
    margin: 0;
}


/*tartalom külső része*/
.manga-container {
    background-color: #3D2C3E;
    border-radius: 5px;
    padding: 20px 60px;
    box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.531);
    color: white;
}

/*Betűtípus importálása: A 'Poppins' betűtípus stílusának importálása a Google Fonts-ból*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

/* Fejléc stílusok a navigációs menühöz*/
.pc > header > ul {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
 
/* Album konténer stílusok*/
.album {
    display: flex;
    max-width: 1800px;
    position: relative;
}
 
/* Ikonsorozat stílusok az album konténeren belül*/
.album i {
    top: 50%;
    height: 44px;
    width: 44px;
    color: #343F4F;
    cursor: pointer;
    font-size: 1.15rem;
    position: absolute;
    text-align: center;
    line-height: 44px;
    background: #fff;
    border-radius: 50%;
    transform: translateY(-50%);
    transition: transform 0.1s linear;
}
 
 /*Ikonsorozat interakció stílusai aktív állapotokban*/
.album i:active {
    transform: translateY(-50%) scale(0.9);
}
 
/*Ikonsorozat interakció stílusai hover állapotokban*/
.album i:hover {
    background: #f2f2f2;
}
 
/*Stílusok a bal ikonokhoz*/
.album i:first-child {
    left: -22px;
    display: none;
}
 
/*Stílusok a jobb ikonokhoz*/
.album i:last-child {
    right: -22px;
}

  /*Konténer az albumképekhez*/
.album .kepek {
    font-size: 0px;
    cursor: pointer;
    overflow: hidden;
    white-space: nowrap;
    scroll-behavior: smooth;
}
 
/* Húzás stílusai az albumképekhez*/
.kepek.dragging {
    cursor: grab;
    scroll-behavior: auto;
}
 
.kepek.dragging img {
    pointer-events: none;
}
 
/*Stílusok az albumképekhez*/
.kepek img {
    height: 320px;
    object-fit: cover;
    user-select: none;
    margin-left: 14px;
    width: calc(100% / 7);
}

.kepek img:first-child {
    margin-left: 0px;
}

/*------------------------responsive------------------------*/

/*Gépi nézet*/
@media (min-width: 1025px) {

    /*body*/
    body {
        margin: 0;
        padding: 0;
        background-image: url('img/hatternagyblur.png');
        background-size: cover;
        background-repeat: round;
        background-attachment: fixed;
        font-family: Arial, sans-serif;
    }

    /*telefonos nézet*/
    #android {
        display: none;
    }

    /*gépi nézet*/
    #pc {
        display: visible;
    }

    /*header*/
    header {
        background-image: linear-gradient(to bottom right, #7b4f9b, #7a4f99);
        color: #fff;
    }

    /*headerben lévő kép*/

    header>img#allium {
        background: radial-gradient(#7b4f9b, #7a4f99);
        border-radius: 50%;
        width: 4%;
        height: 4%;
        margin: 10px 0px 0px 10px;
    }

    /*headerben lévő cím*/
    header>#cím {
        display: inline-block;
        margin: 1px 10px 0% 5px;
        font-size: 230%;
        text-shadow: 2px 2px 6px #5d3e76;

    }

    /*menü elhelyezkedés (sorok felbontása)*/
    header>ul {
        display: flex;
        list-style: none;
        padding: 0;
        width: 100%;
        margin-top: 0px;
    }
    
    /*gomb*/
    button {
        border: none;
        border-left-style: none;
        background: linear-gradient(#5f3277, #8b5aaf);
        text-shadow: 2px 2px 6px #5d3e76;
        border-right: 1px solid black;
        padding: 8px 30px 8px 30px;   
    }
  
    /*gomb hover animáció*/
    button:hover {
        background: linear-gradient(#8b5aaf, #5f3277);
    }
  
    /*elválasztó vonal (a gombok felet)*/
    #sor {
        border-top: 1px solid black;
        margin-top: 16px;
    }
  
    /*gombok közös beállítása*/
    #gomb {
        text-decoration: none;
        color: white;
    }
  
    /* Keresőmező stílusai */
    .search-container {
        padding-left: 1150px;
        padding-right: 300px;
        align-items: right;
    }
  
    #search-bar {
        width: 250%; /* Teljes szélességű keresőmező */
        padding: 10%;
        margin-right: 10px;
        border-radius: 100px;
        border: 1px solid #000;
        background: #EFDAFF;
        border-radius: 20px;
    }

    /*menü elhelyezkedés (sorok felbontása)*/
    .manga-container>.felkapottak>ul {
        display: flex;
        list-style: none;
        padding: 0;
        width: 30%;
        margin-top: 0px;
    }


    /*menüben elhelyezkedés (egymás mellett)*/
    .manga-container>.felkapottak>li {
        flex-grow: 0;
    }

    /*nyilak*/
    .manga-container>.felkapottak>ul>li>h1 {
        width: 100%;
        color: black;
    }

    /*bal nyíl*/
    .manga-container>.felkapottak>ul>li>#left {
        padding-left: 20px;
    }

    /*képek*/
    .manga-container>.felkapottak>ul>li>a>img {
        width: 250px;
        padding: 40px;
        height: 100%;
        padding: 20px;
    }

    #right, #left{
        display: none;
    }

     /*footer*/
     footer{
        position: relative;
        display: flex;
        background-color: #000000;
        border-top: 2px solid #3D2C3E;
        margin-top: 9%;
        height: 184px;
    }

    /*footerben lévő szöveg*/
    footer>h1{
        color: white;
    }

    /*footer (elérhetőségeink felirat)*/
    footer>#eler {
        margin-left: 50px;
    }

    footer>#join {
        margin-left: 650px;
    }

    /*ul menu (egymás mellé sorolni az ikonokat)*/
    menu,
    ul {
        display: flex;
        list-style: none;
        padding: 0;
        width: 30%;
        margin-top: 0px;
    }

    /*az egymás mellé sorolt ikonok közti hely*/
    li {
        flex-grow: 0;
    }

    /*footerben lévő ikonok*/
    footer>ul>li>a>img {
        border:1px solid rgb(40, 40, 40);
        border-radius: 100%;
    }

    /*footerben lévő youtube ikon*/
    footer>ul>li>a>#youtube{
        width: 65px;
        height: 65px;
        align-self: left;
        margin-top: 70px;
        margin-left: -380%;
    }

    /*footerben lévő tiktok ikon*/
    footer>ul>li>a>#tiktok{
        width: 65px;
        height: 65px;
        justify-content: left;
        margin-top: 70px;
        margin-left: -360%;
    }

    /*footerben lévő discord ikon*/
    footer>a>#discord{
        width: 65px;
        height: 65px;
        margin-top: 70px;
        margin-left: -260%;
    }

}

/*Médialekérdezések a reszponzív dizájnhoz*/
@media screen and (max-width: 900px) {
    .kepek img {
        width: calc(100% / 2);
        height: 500px;
    }
}

/*Tablet, kisebb laptopok, kompakt monitorok*/
@media (min-width: 769px) and (max-width: 1024px) {

    /*body*/
    body {
        margin: 0;
        padding: 0;
        background-image: url('img/hatterkicsiblur.png');
        background-size: cover;
        background-repeat: round;
        background-attachment: fixed;
        font-family: Arial, sans-serif;
    }

    /*telefonos nézet*/
    #android {
        display: none;
    }

    /*gépi nézet*/
    #pc {
        display: visible;
    }

    /*header*/
    header {
        background-image: linear-gradient(to bottom right, #7b4f9b, #7a4f99);
        color: #fff;
    }
        
    /*headerben lévő kép*/
    header>img#allium {
        background: radial-gradient(#7b4f9b0c, #7a4f990c);
        border-radius: 50%;
        width: 10%;
        height: 10%;
        margin: 10px 0px 0px 10px;
    }
        
    /*headerben lévő cím*/
   header>#cím {
        display: inline-block;
        margin: 1px 10px 0% 5px;
        font-size: 260%;
        text-shadow: 2px 2px 6px #5d3e76;   
    }

    /*menüben lévő link hover animáció*/
    .custom-menu a:hover {
        background-color: #555;
    }

    /*menü elhelyezkedés (sorok felbontása)*/
    menu,
    ul {
        display: flex;
        list-style: none;
        padding: 0;
        width: 100%;
        margin-top: 0px;
    }

    /*menüben elhelyezkedés (egymás mellett)*/
    li {
        flex-grow: 1;
        border-right: 1px solid black;
    }

    /*gomb*/
    button {
        font-size: large;
        border: none;
        border-left-style: none;
        background: linear-gradient(#5f3277, #8b5aaf);
        width: 100%;
        padding: 12px;
        text-shadow: 2px 2px 6px #5d3e76;
    }

    /*gomb hover animáció*/
    button:hover {
        background: linear-gradient(#8b5aaf, #5f3277);
    }

    /*elválasztó vonal (a gombok felet)*/
    #sor {
        border-top: 1px solid black;
        margin-top: 16px;
    }

    /*gombok közös beállítása*/
    #gomb {
        text-decoration: none;
        color: white;
    }

    /* Keresőmező stílusai */
    .search-container {
        padding-left: 20vh;
        padding-right: 2vh;
        align-items: right;
    }
  
    #search-bar {
        font-size: large;
        width: 1500%;
        padding: 100%;
        margin-right: 10px;
        border-radius: 100px;
        border: 1px solid #000;
        background: #EFDAFF;
        border-radius: 20px;
    }

    /*footer*/
    footer{
        position: relative;
        display: flex;
        background-color: #000000;
        border-top: 2px solid #3D2C3E;
        height: 200px;
        margin-top: auto;
        padding: 10px;
    }

    /*footerben lévő szöveg*/
    footer>h1{
        color: white;
    }

    /*footer (elérhetőségeink felirat)*/
    footer>#eler {
        margin-left: 20px;
        font-size: xx-large;
    }

    footer>#join {
        margin-left: 160px;
        font-size: xx-large;
    }

    /*ul menu (egymás mellé sorolni az ikonokat)*/
    menu,
    ul {
        display: flex;
        list-style: none;
        padding: 0;
        width: 30%;
        margin-top: 0px;
    }

    /*az egymás mellé sorolt ikonok közti hely*/
    li {
        flex-grow: 0;
    }

    /*footerben lévő ikonok*/
    footer>ul>li>a>img {
        border:2px solid rgb(40, 40, 40);
        border-radius: 100%;
    }

    /*footerben lévő youtube ikon*/
    footer>ul>li>a>#youtube{
        width: 65px;
        height: 65px;
        align-self: left;
        margin-top: 70px;
        margin-left: -380%;
    }

    /*footerben lévő tiktok ikon*/
    footer>ul>li>a>#tiktok{
        width: 65px;
        height: 65px;
        justify-content: left;
        margin-top: 70px;
        margin-left: -360%;
    }

    /*footerben lévő discord ikon*/
    footer>a>#discord{
        width: 65px;
        height: 65px;
        margin-top: 70px;
        margin-left: -260%;
    }

}

/*kisebb tablet, telefon, böngészőablakok*/
@media (max-width: 768px) {

    /*telefonos nézet*/
    #pc {
        display: none;
    }

    /*gépi nézet*/
    #android {
        display: visible;
    }

    /*header*/
    header {
        background-color: #8b5aaf;
        color: #fff;
        padding: 20px;
    }

    /*headerben lévő kép*/
    header>img#allium {
        background: radial-gradient(#8b4aaf, #8b5aaf);
        border-radius: 50%;
        width: 12%;
        height: 12%;
    }

    /*headerben lévő szöveg(cím)*/
    header>#cím {
        display: inline-block;
        margin: 1px 10px 0px 3px;
        font-size: 200%;
        text-shadow: 2px 2px 6px #5d3e76;
    }

    /*menü*/
    .custom-menu {
        background-color: #333;
        color: #fff;
        border-radius: 5px;
        padding: 10px;
    }

    /*menüben lévő link*/
    .custom-menu a {
        color: #fff;
        text-decoration: none;
        display: block;
        padding: 5px 0;
        transition: background-color 0.3s;
    }

    /*menüben lévő link hover animáció*/
    .custom-menu a:hover {
        background-color: #555;
    }

    /*menüben elhelyezkedés*/
    li {
        flex-grow: 1;
        border-right: 1px solid black;
    }

    /*gomb*/
    button {
        border: none;
        border-left-style: none;
        background: linear-gradient(#5f3277, #8b5aaf);
        width: 100%;
        padding: 4px;

        text-shadow: 2px 2px 6px #5d3e76;
    }

    /*gomb hover animáció*/
    button:hover {
        background: linear-gradient(#8b5aaf, #5f3277);
    }

    /*elválasztó vonal (a gombok felet)*/
    #sor {
        border-top: 1px solid black;
        margin-top: 16px;
    }

    /*gombok közös beállítása*/
    #gomb {
        text-decoration: none;
        color: white;
    }
}

/*Médialekérdezések a reszponzív dizájnhoz*/
@media screen and (max-width: 550px) {
    .kepek img {
        width: 100%;
        height: 300px;
    }
}

/*telefon*/
@media (max-width: 480px) {

    /*telefonos nézet*/
    #android {
        display: visible;
    }

    /*gépi nézet*/
    #pc {
        display: none;
    }

    /*header*/
    header {
        background-color: #8b5aaf;
        color: #fff;
        padding: 20px;
    }

    /*headerben lévő kép*/
    header>img#allium {
        background: radial-gradient(#8b4aaf, #8b5aaf);
        border-radius: 50%;
        width: 12%;
        height: 12%;
    }

    /*headerben lévő szöveg(cím)*/
    header>#cím {
        display: inline-block;
        margin: 1px 10px 0px 3px;
        font-size: 150%;
        text-shadow: 2px 2px 6px #5d3e76;
    }

    /*menü*/
    .custom-menu {
        background-color: #333;
        color: #fff;
        border-radius: 5px;
        padding: 10px;
    }

    /*menüben lévő link*/
    .custom-menu a {
        color: #fff;
        text-decoration: none;
        display: block;
        padding: 5px 0;
        transition: background-color 0.3s;
    }

    /*menüben lévő link hover animáció*/
    .custom-menu a:hover {
        background-color: #555;
    }

    /*menü elhelyezkedés (sorok felbontása)*/
    menu,
    ul {
        display: flex;
        list-style: none;
        padding: 0;
        width: 30%;
        margin-top: 0px;
    }

    /*menüben elhelyezkedés (egymás mellett)*/
    li {
        flex-grow: 1;
        border-right: 1px solid black;
    }

    /*gomb*/
    button {
        border: none;
        border-left-style: none;
        background: linear-gradient(#5f3277, #8b5aaf);
        width: 100%;
        padding: 4px;

        text-shadow: 2px 2px 6px #5d3e76;
    }

    /*gomb hover animáció*/
    button:hover {
        background: linear-gradient(#8b5aaf, #5f3277);
    }

    /*elválasztó vonal (a gombok felet)*/
    #sor {
        border-top: 1px solid black;
        margin-top: 16px;
    }

    /*gomb közös beállítás*/
    #gomb {
        text-decoration: none;
        color: white;
    }
}